code, pre
{
	color: #006180;
	border-color: #c3d6d8;
	background-color: #ebf6f7;
}

code
{
	padding-top: 1px;
	padding-bottom: 1px;
}

/*
div.toc
{
	margin-top:20px
}

div.toc ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}

div.toc p
{
	margin:0;
}

div.toc a:link,a:visited,p.toc
{
	display:block;
	font-weight:bold;
	color:black;
	background-color:#E0F0FF;
	padding:4px;
	text-decoration:none;
}

div.toc a:hover,a:active
{
	background-color:#ADD6FF;
}

div.toc a.level2:link
{
	padding-left:20px;
}*/

body
{
	padding-top: 50px;
}

ul.level2 a
{
	padding-left: 40px;
}

ul.level3 a
{
	padding-left: 60px;
}

ul.level4 a
{
	padding-left: 80px;
}

a.active
{
	font-weight: bold;
}

/*a.level2
{
	padding-left: 30px;
}

li.level3 a
{
	padding-left: 50px;
}

li.level4 a
{
	padding-left: 70px;
}*/